@media screen and (max-width: 959px) {
  header .pc {
    display: none;
  }
  header .sp {
    display: block;
  }
  header .humberger {
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 999;
    padding: 1rem;
    cursor: pointer;
  }
  header .humbergerBorder {
    width: 30px;
    height: 2px;
    background: #555555;
    margin-top: 1rem;
    -webkit-transition: .6s;
    transition: .6s;
  }
  header .humbergerBorder:first-child {
    margin-top: 0;
  }
  header .humberger.active .humbergerBorder {
    width: 30px;
    height: 2px;
    background: #E62980;
    margin-top: 1rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform-origin: 11px center;
            transform-origin: 11px center;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .humberger.active .humbergerBorder:first-child {
    margin-top: 0;
  }
  header .humberger.active .humbergerBorder:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 6px center;
            transform-origin: 6px center;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .spNavi {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    padding: 10rem;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .spNavi li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
  header .spNavi li a {
    padding: 2rem 0;
  }
  header .sns {
    margin-top: 3rem;
    padding: 1rem 0 0 0;
    border-top: 1px solid #e0e0e0;
    border-left: none;
  }
  header .sns a {
    margin: 0 5rem 0 0;
    padding: 1rem;
  }
  header .sns li {
    margin-left: 0;
  }
  header .sns li:last-child a {
    margin-right: 0;
  }
  .firstViewWrap figure figcaption {
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  header {
    position: absolute;
  }
  header h1 a {
    font-size: 2rem;
  }
  header h1 a .dot {
    margin: 0 -.25rem 0 -.45rem;
    font-size: 2rem;
  }
  .content h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .content .concept {
    margin: 0 auto 40px;
  }
  .content .concept,
  .content .whatdoing {
    padding: 0 2rem;
  }
  .content p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .contact {
    padding: 15rem 4rem 10rem;
  }
  .tabContents {
    width: 100%;
  }
  .tabContents .sex {
    margin-top: 2rem;
  }
  .tabContents input {
    height: 6rem;
    font-size: 2.25rem;
  }
  .tabContents input[type=radio] {
    height: 2.5rem;
  }
  .tabContents select {
    font-size: 1.5rem;
    padding: 1.5rem 5rem 1.5rem 1rem;
  }
  .c-repName {
    width: 50%;
  }
  .c-postalCode, .c-phone, .c-fax {
    width: 40%;
  }
  .c-address {
    width: 100%;
  }
  .c-mail {
    width: 100%;
  }
  .price {
    padding: 15rem 2rem 10rem;
  }
  .price table {
    width: 100%;
  }
  .price table tr td:first-child {
    width: 30%;
  }
}
/*# sourceMappingURL=media.css.map */